
.Instagram{
    background-color:rgb(236, 223, 163);
}
.Facebook{
    background-color: rgb(250, 102, 102);
}

.Youtube{
    background-color: rgb(172, 238, 170);
}

.Messenger{
    background-color: rgb(236, 136, 191);
}

.Whatsapp{
    background-color: rgb(150, 130, 224);
}
